@import "tailwindcss";
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #000;
}

html,body{
    width: 100%;
    background-color: #F0F0F0;
    position: relative;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}