@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #000;
}
html,body{
    width: 100%;
    background-color: #fff;
    position: relative;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}